body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game{
    background-color:#011C37;
    width: 100%;
    height: 100%;
}
h1{
    padding-top: 20px;
    text-align: center;
    font-size: 4rem;
    color: #F3ECBF;
}
.first-row,.second-row{
    display: flex;
    justify-content:center;
    align-items:center;
}
.green-box, .red-box, .yellow-box, .blue-box{
    border: 10px solid black;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 50px;
    cursor: pointer;
    /*pointer-events: none;*/
}
.cant-click{
    pointer-events: none;
    cursor: default;
}
.can-click{
    pointer-events: all;
    cursor: pointer;
}
.green-box{
    background-color: #00FF00;
}
.red-box{
    background-color: #FF0000;
}
.yellow-box{
    background-color: #FFFF00;
}
.blue-box{
    background-color: #0000FF;
}
.active{
    background-color: #747474;
}
.active-cmptr{
    opacity: 0.2;
}
.active-game{
    background-color: #FF0000;
}
